[run]
data_file = .local/coverage/coverage-data

[html]
directory = .local/coverage/html

[report]
omit =
    */.local/*
    */.venv/*
    src/electos/vanadium/app/route/_test.py 
    test/vanadium/tests/routes/test_route_test.py
